<!--
============================================
; Title: Express based API Gateway
; Author: Troy Martin
; Date: 06/27/2019
; Modified By: Troy Martin
; Description: Home page for API Gateway
;===========================================
-->
<!DOCTYPE html>
<html>
  <head>
    <!-- Set the title using the model variable-->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- Display the title -->
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
